@import 'bootstrap/dist/css/bootstrap.min.css';
:root {
  --color: orange;
}

.leaflet-container {
  width: auto;
  min-height: calc(100vh - 128px);
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.body > * {
  width: 100vw;
}

.header {
  position: relative;
  border-top: 8px solid var(--color); 
  background-color: #fff;
  color: #000;
}

.menu-h {
  background-color: var(--color);
}

.main{
  flex: 1;
  display: flex;
  flex-direction: row;
}

.main-menu {
  background-color: #fff;
  min-height: calc(100vh - 128px);
}

.main-menu .link {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.main-content {
  flex: 1;
}

.footer {
  padding: 20px 0;
  background-color: black;
  color: #fff;
}

